In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('autoscout24-germany-dataset.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46262 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46223 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46376 non-null  float64
 8   year       46405 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [5]:
df.describe()

            mileage         price            hp          year
count  4.640500e+04  4.640500e+04  46376.000000  46405.000000
mean   7.117786e+04  1.657234e+04    132.990987   2016.012951
std    6.262531e+04  1.930470e+04     75.449284      3.155214
min    0.000000e+00  1.100000e+03      1.000000   2011.000000
25%    1.980000e+04  7.490000e+03     86.000000   2013.000000
50%    6.000000e+04  1.099900e+04    116.000000   2016.000000
75%    1.050000e+05  1.949000e+04    150.000000   2019.000000
max    1.111111e+06  1.199900e+06    850.000000   2021.000000

In [6]:
df.isnull().sum()

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64

In [7]:
df['hp'] = df['hp'].fillna(df['hp'].mean())

In [10]:
df.isnull().sum()

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp             0
year           0
dtype: int64

In [11]:
df = df.dropna()

In [12]:
df

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
46400,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46401,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46402,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46403,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46404,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [14]:
df.isnull().sum()

mileage      0
make         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64

In [15]:
df.to_csv('clean_bmw.csv')

In [16]:
df = pd.read_csv('clean_bmw.csv')

In [17]:
df

,Unnamed: 0,mileage,make,model,fuel,gear,offerType,price,hp,year
0,0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...,...
46090,46400,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46091,46401,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46092,46402,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46093,46403,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46094,46404,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [18]:
df = df.reset_index()

In [19]:
df

,index,Unnamed: 0,mileage,make,model,fuel,gear,offerType,price,hp,year
0,0,0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,1,1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,2,2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,3,3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,4,4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...,...,...
46090,46090,46400,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46091,46091,46401,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46092,46092,46402,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46093,46093,46403,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46094,46094,46404,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [20]:
df = df.drop(columns = ['Unnamed: 0'])

In [21]:
df

,index,mileage,make,model,fuel,gear,offerType,price,hp,year
0,0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...,...
46090,46090,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46091,46091,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46092,46092,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46093,46093,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46094,46094,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [22]:
df = df.drop(columns = ['index'])

In [23]:
df

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
46090,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46091,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46092,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46093,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46094,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [26]:
df.sort_values('year')

,mileage,make,model,fuel,gear,offerType,price,hp,year
19,82000,Opel,Corsa,Gasoline,Manual,Used,7000,101.0,2011
18,85700,Fiat,Sedici,Diesel,Manual,Used,6999,135.0,2011
17,190000,Renault,Grand Espace,Diesel,Manual,Used,6999,150.0,2011
16,190000,Renault,Espace,Diesel,Manual,Used,6999,150.0,2011
15,72000,Volkswagen,Polo,Gasoline,Manual,Used,6999,60.0,2011
...,...,...,...,...,...,...,...,...,...
46091,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46092,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46093,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46094,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46063,4800,Skoda,Scala,Gasoline,Automatic,Demonstration,32219,150.0,2021